@import url('https://fonts.googleapis.com/css2?family=Kaisei+Decol:wght@400;500;700&family=Poppins:wght@300;400;500&display=swap');

/* Apply all pages */
* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Poppins', sans-serif;

}

:root {
    /* Background Color */
    --primary-color: #004caa;
    --secondary-color: #fc5185;
    --bg-light-blue: #3672bc;
    --bg-dark: #666;
    --bg-white: #fff;

    /* Text Style */
    --primary-font: 'Robota Slab', serif;
    --secondary-text: 'Josefin Sans', sans-serif;
    --primary-text: #004caa;
    --secondary-text: #fc5185;
    --text-white: #fff;
    --text-black: #222;
    --text-gray: #666;
    --text-light: #ddd;

}

body {
    font-family: var(--primary-font);
    background-color: white;
    width: 100%;
}

/* Global Styles */

h1 {
    font-size: 50px;
    line-height: 64px;
    color: #222;
}

h2 {
    font-size: 46px;
    line-height: 54px;
    color: #222;
}

h4 {
    font-size: 20px;
    color: #222;
}

h6 {
    font-weight: 700;
    font-size: 12px;
}

p {
    font-size: 16px;
    color: #000;
    margin: 15px 0 20px 0;
}

.section-p1 {
    padding: 40px 80px;
}

.section-m1 {
    margin: 40px 0;
}

/* website Scrollbar */

::-webkit-scrollbar {
    width: .700rem;
}

::-webkit-scrollbar-track {
    background: var(--bg-dark);
}

::-webkit-scrollbar-thumb {
    background: var(--secondary-color);
}

@media(max-width:991px) {
    .sidebar {
        color: aliceblue;
        background-color: rgb(35, 47, 62);
        backdrop-filter: blur(10px);

    }
}

/* Header and Navber */

header {
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}

#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background: #E3E6F3;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);

}

#header .Logoh a {
    text-decoration: none;
    list-style: none;
}

#header .Logoh h3 {
    color: #000;
}

#header #navber {
    display: flex;
    gap: 3rem;

}

#header #navber li {
    position: relative;
    top: 0.5rem;
}

#header #navber a {
    text-decoration: none;
    list-style: none;
    letter-spacing: 1px;
    font-size: large;
    color: #000;
    transition: 0.3s ease;
}

#header #navber li a:hover {
    color: rgb(13, 132, 132);
}

#header #navber li a:hover,
#header #navber li a.active {
    color: #088178;
}

#header #navber li a.active::after,
#navber li a:hover::after {
    content: "";
    width: 100%;
    height: 2px;
    background: #088178;
    position: absolute;
    bottom: -4px;
    left: 0px;
    transition: 0.3s ease;

}

/* heros section */

#heros {
    background-image: url(./E-com-img/hero4.png);
    background-repeat: no-repeat;
    height: 90vh;
    width: 100%;
    background-size: cover;
    background-position: top 25% right 0;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

}

#heros h4 {
    padding: 0 0 1rem 0;
}

#heros h1 {
    color: #088178;
}

#heros button {
    background-image: url(./E-com-img/button.png);
    background-repeat: no-repeat;
    background-color: transparent;
    color: #088178;
    border: 0;
    padding: 14px 80px 14px 65px;
    font-size: large;
}

#heros button:hover {
    color: #033879;
    transition: 0.3s ease;

}

/* feacher section */

.feacher {
    padding: 40px 10px;
}

.par {
    padding: 40px 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.par .c1 {
    width: 180px;
    text-align: center;
    background-color: white;
    padding: 25px 15px;
    border: 1.5px solid #cce7d0;
    border-radius: 4px;
    margin: 15px 0;
}

.par .c1 button {
    display: inline-block;
    padding: 7px 8px 6px 8px;
    line-height: 1;
    border-radius: 14px;
    color: #088178;
    background-color: #fddde4;
    font-size: medium;
    border: none;
}

.par .c1 button:hover {
    color: red;
}

.fea {
    text-align: center;
}

.fea h1 {
    font-size: 50px;
}

.pro-con {
    padding: 40px 80px;

}

.pro-con .pro {
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #cce7d0;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
    margin: 15px 0;
    background-color: #d20376;
    transition: 0.2 ease;
}

.pro-con .pro:hover {
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);

}

.pro-con .pro img {
    width: 100%;
    border-radius: 20px;
}

.pro-con .pro .des {
    text-align: start;
    padding: 10px 0;
}

.pro-con .pro .des p {
    color: #fff;
    font-size: 12px;
}

.pro-con .pro .des h5 {
    padding-top: 7px;
    color: #fff;
    font-size: 14px;
}

.pro-con .pro .des .star i {
    color: yellow;
    font-size: 20px;
}

.pro-con .pro h4 {
    padding-top: 7px;
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    display: inline;
    margin-left: 10px;
}

.pro-con .pro #hi {
    margin-left: 190px;
    font-size: 25px;
    color: #004caa;

}


.feacher .pro-con {
    padding: 40px 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

}

/* banner section */

.banner h4,
.banner h2 {
    color: #fff;
}

.banner .ban {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url(./E-com-img/banner/b2.jpg);
    width: 100%;
    height: 40vh;
    background-size: cover;
    background-position: center;
    gap: 25px;
    font-size: 25px;
}

.banner .ban span {
    color: red;
}

.banner .ban button {
    font-size: 20px;
    padding: 10px;
    background-color: rgba(246, 246, 24, 0.994);
    border: none;
}

.banner .ban button:hover {
    color: white;
    background-color: #088178;
}

/* feacher 2 */

.fea2 {
    padding-top: 3rem;
    text-align: center;
}

.feacher2 {
    background-color: white;
    padding: 40px 10px;
}

.feacher2 .pro-con {
    padding: 40px 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.banner2 {
    padding: 40px 100px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    color: white;
}

.banner2 .ban2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url(./E-com-img/banner/b17.jpg);
    width: 680px;
    height: 50vh;
    background-size: cover;
    background-position: center;
    padding: 30px;
    gap: 17px;
    border-radius: 20px;
}

/* banner 2 */

.banner2 .ban2 h1 {
    font-size: 45px;
    color: #088178;
}

.banner2 .ban2 button {
    margin-top: 20px;
    font-size: 20px;
    padding: 10px;
    color: white;
    background-color: transparent;
    border: solid 1px white;
}

.banner2 .ban2 button:hover {
    color: white;
    background-color: #088178;
    border: solid 1px black;
}

.banner2 .ban3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url(./E-com-img/banner/b10.jpg);
    width: 680px;
    height: 50vh;
    background-size: cover;
    background-position: center;
    padding: 30px;
    gap: 17px;
    border-radius: 20px;
}

.banner2 .ban3 h1 {
    font-size: 45px;
    color: #fff;

}

.banner2 .ban3 button {
    margin-top: 20px;
    font-size: 20px;
    padding: 10px;
    color: white;
    background-color: transparent;
    border: solid 1px white;
}

.banner2 .ban3 button:hover {
    color: white;
    background-color: #088178;
    border: solid 1px black;
}

/* box */

.box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 100px;
    gap: 10px;
}

.box h3 {
    color: rgb(255, 167, 45);
}

.box h5 {
    color: white;
}

.box .box1 {
    width: 420px;
    height: 230px;
    background-image: url(./E-com-img/banner/b7.jpg);
    background-size: cover;
    background-position: center;
    padding: 80px 0 0 40px;
    border-radius: 20px;
}

.box .box2 {
    width: 420px;
    height: 230px;
    background-image: url(./E-com-img/banner/b4.jpg);
    background-size: cover;
    background-position: center;
    padding: 80px 0 0 40px;
    border-radius: 20px;
}

.box .box3 {
    width: 420px;
    height: 230px;
    background-image: url(./E-com-img/banner/b18.jpg);
    background-size: cover;
    background-position: center;
    padding: 80px 0 0 40px;
    border-radius: 20px;
}

/* Newsletters section */

#Newsletters .form {
    display: flex;
    width: 40%;
}

#Newsletters {
    background-image: url(./E-com-img/banner/b14.png);
    background-repeat: no-repeat;
    background-position: 20% 30%;
    background-color: #041e42;
    color: #fff;
    height: 8rem;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    height: auto;
}

#Newsletters span {
    color: orange;
}

#Newsletters input {
    height: 3.125rem;
    padding: 0 1.25rem;
    font-size: 14px;
    width: 100%;
    border: 1px solid transparent;
    outline: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;

}

#Newsletters button {
    background-color: #088178;
    color: #fff;
    width: 10rem;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

/* footer */

.footer_wrapper {
    padding: 0;
}

.footer_wrapper .form-group .form-control::placeholder {
    color: white;
}

.footer_wrapper a {
    text-decoration: none;
    list-style: none;
}

.footer_wrapper ul li {
    margin-bottom: .5rem;
    list-style: none;
    font-size: .875rem;
}

.footer_wrapper ul li a {
    color: #fff;
}

.footer_wrapper .link-widget a::before {
    content: '\f104';
    /* Unicode for the "less than" symbol in Font Awesome */
    font-family: 'Font Awesome 5 Free';
    /* Font family for Font Awesome */
    font-weight: 900;
    /* Font weight for the arrow (you can adjust this) */
    position: absolute;
    left: 0.3rem;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.footer_wrapper .link-widget li a:hover {
    margin-left: .625rem;
    color: var(--secondary-text);
}

.footer_wrapper .social-network a {
    width: 2.1875rem;
    height: 2.1875rem;
    margin: .5rem;
    text-decoration: none;
    list-style: none;
    line-height: 2rem;
    font-size: .875rem;
    display: inline-block;
    border: .125rem solid var(--bg-white);
    color: var(--text-light);
    text-align: center;
    border-radius: 100%;
    -webkit-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.footer_wrapper .social-network a:hover {
    background-color: var(--secondary-color);
    border-color: var(--secondary-color);
    color: var(--text-white);
    transform: translateY(-0.1875rem)
}

.footer_wrapper .copyright-section {
    background-color: var(--bg-light-blue);
    padding: 2rem 0 1rem;
    text-align: center;
}

.footer_wrapper .copyright-section a {
    color: var(--text-light);
    font-weight: 600;
}

#mobile {
    display: none;
    align-items: center;
}

#close {
    display: none;
}


/* Shop page */
.shopbanner .shopban {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url(./E-com-img/banner/b1.jpg);
    width: 100%;
    height: 40vh;
    background-size: cover;
    background-position: center;
    gap: 25px;
    font-size: 25px;
}

.shopbanner .shopban h3,
.shopbanner .shopban h2 {
    color: #fff;

}

.shopoffer {
    padding-top: 8.75rem;
}

.shopoffer .offer-box .offer-image::before {
    position: absolute;
    content: '';
    top: 0;
    left: -100%;
    z-index: 2;
    display: block;
    width: 50%;
    height: 100%;
    background: -webkit-linear-gradient(to right, rgba(255, 255, 255, 0)0%, rgba(255, 255, 255, 0.3)100%);
    background: linear-gradient(to right, rgba(255, 255, 255, 0)0%, rgba(255, 255, 255, 0.3)100%);
    transform: skew(-25deg);
}

.shopoffer .offer-box .offer-image img {
    transform: scale(1.02);
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.shopoffer .offer-box:hover .offer-image::before {
    animation: effect_shine 1s;
}

@keyframes effect_shine {
    100% {
        left: 150%;
    }
}

.shopoffer .offer-overlay::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    z-index: 1;
}

.shopoffer .offer-box .offer-info {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    z-index: 1;
    transition: all 250ms ease-out;
    justify-content: center;
    align-items: center;
}

.shopoffer .offer-box .offer-info .heading-bigger {
    font-size: 4.375rem;
    line-height: 1;
    text-transform: uppercase;
    font-weight: 400;
    margin-bottom: 0;
    color: #fff;
}

.shopoffer .offer-box .offer-info .offer-title-1 {
    color: #fff;
    font-size: 1.125rem;
    font-weight: 300;
    margin-bottom: 0;
    letter-spacing: 2px;
}

.shopoffer .offer-box .offer-info .btn-outline-danger {
    border-color: #fff;
    color: #fff;
    background: transparent;
}

.shopoffer .offer-box .offer-info .btn-outline-danger:hover {
    background-color: red;
    border-color: red;
}

.shopoffer a {
    list-style: none;
    text-decoration: none;
}

/* Products page */

.prodbanner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url(./E-com-img/products/productbanner.webp);
    width: 100%;
    height: 50vh;
    background-size: cover;
    background-position: center;
    gap: 25px;
    font-size: 25px;
}

.prodbanner #protban {
    text-align: end;
}

.prodbanner #protban h1 {
    letter-spacing: 2px;
    color: yellow;
    font-size: 4rem;
}

.prodbanner #protban h4 {
    margin-top: 1rem;
    margin-right: 5rem;
    letter-spacing: 5px;
    font-size: 2.5rem;
    color: #000;
}

.prodbanner #protban h4 span {
    color: #088178;
}

.prodbanner #protban h5 {
    margin-right: 5rem;
    margin-top: 1rem;
    font-size: 2.5rem;
    color: #d20376;
}

.products {
    padding: 5rem;
}

.headline h2::before {
    content: '';
    width: 30%;
    height: 0.125rem;
    background-color: red;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 0.625rem;
}

.products a {
    text-decoration: none;
    color: #000;
}

.product-list .product-image img {
    transition: all 500ms ease-in-out;
}

.product-list .product-image .product-image-secondary {
    opacity: 0;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.product-list .product-image:hover .product-image-secondary {
    opacity: 1;
}

.product-list .product-image .sale {
    background: red;
    border-radius: 0.313rem;
    color: #fff;
    font-size: 0.813rem;
    letter-spacing: 0.125rem;
    line-height: 1.563rem;
    padding: 0.125rem 0.813rem;
    text-transform: uppercase;
    position: absolute;
    left: 1rem;
    top: 1.188rem;
    z-index: 99;
}

.product-list .product-name h3 {
    font-size: 1.125rem;
    color: #000;
    transition: all 0.3s ease 0s;
}

.product-list .product-name h3:hover {
    color: red;
}

.product-list .product-name .amount {
    color: red;
}

.product-list .product-name .amount del {
    color: gray;
}

.product-name .btnbuy {
    color: #fff;
    padding: 0.5rem;
    border: none;
    border-radius: 3px;
    font-size: large;
    letter-spacing: 1px;
    background-color: #088178;
    transition: all ease-in-out 0.2s;

}

.product-name .btnbuy:hover {
    background-color: #fc5185;
    color: #000;
}

/* Blog page */
.blogbanner .blogban {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url(./E-com-img/banner/b19.jpg);
    width: 100%;
    height: 40vh;
    background-size: cover;
    background-position: center;
    gap: 25px;
    font-size: 25px;
}

.blogbanner .blogban h3,
.blogbanner .blogban h4 {
    color: #fff;

}

#blog {
    padding: 150px 150px 10px 150px;
}

#blog .blog-box {
    display: flex;
    align-items: center;
    width: 100%;
    padding-bottom: 90px;
}

#blog .blog-img {
    width: 120%;
    margin-right: 40px;
}

#blog img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

#blog .blog-details a {
    text-decoration: none;
    list-style: none;
}

.bannerpay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url(./E-com-img/products/slide2.jpg);
    width: 100%;
    height: 90vh;
    background-size: cover;
    background-position: center;
    gap: 25px;
    font-size: 25px;
}

.bannerpay #text {
    text-align: start;
}

.bannerpay h1 {
    color: rebeccapurple;
}

.bannerpay h3 {
    color: #033879;
    margin-bottom: 2rem;
}

.bannerpay button {
    border: none;
    background: red;
    padding: 1vh;
    color: #fff;
    border-radius: 1vh;
    transition: all ease-in-out 0.2s;
}

.bannerpay button:hover {
    background-color: transparent;
    color: #000;
    border: #000 1px solid;

}

/* About page */
.aboutbanner .aboutban {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url(./E-com-img/about/banner.png);
    width: 100%;
    height: 40vh;
    background-size: cover;
    background-position: center;
    gap: 25px;
    font-size: 25px;
}

.aboutbanner .aboutban h3,
.aboutbanner .aboutban h4 {
    color: #fff;

}

#about-head {
    display: flex;
    padding-top: 10%;
    padding-bottom: 10%;
    padding-right: 2rem;
    padding-left: 2rem;
    gap: 2rem;
    height: auto;
}

#about-head img {
    width: 50%;
    height: auto;
}

#about-app {
    text-align: center;
}

#about-app .video {
    width: 70%;
    height: 100%;
    margin: 30px auto 0 auto;
    margin-bottom: 5rem;
}

#about-app .video video {
    width: 100%;
    height: 100%;
    border-radius: 20px;
}


/* Contact */
.contbanner .contban {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url(./E-com-img/about/banner.png);
    width: 100%;
    height: 40vh;
    background-size: cover;
    background-position: center;
    gap: 25px;
    font-size: 25px;
}

.contbanner .contban h1,
.contbanner .contban h4 {
    color: #fff;

}

.contact {
    padding: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.contact ul a {
    list-style: none;
    text-decoration: none;
    gap: 10rem;
}

.contact li {
    font-size: 1.5rem;
}

.form-details {
    display: flex;
    justify-content: space-between;
    margin: 30px;
    padding: 80px;
    border: 1px solid #e1e1e1;
}

.form-details .people div {
    margin-top: 4rem;
    display: flex;
    align-items: flex-start;
}

.form-details .people div img {
    width: 65px;
    height: 65px;
    object-fit: cover;
    margin-right: 15px;
    margin-top: 30px;
}

.form-details .form {
    padding: 1rem 0rem 2rem 0rem;
    width: 65%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}

.form-details .form input,
.form-details .form textarea {
    width: 100%;
    padding: 12px 15px;
    outline: none;
    margin-bottom: 20px;
    border: 1px solid #e1e1e1;
}

.form-details .form button {
    font-size: 20px;
    background-color: #088178;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 10px;
}

.form-details .form button:hover {
    background-color: #171818;
    transition: all ease 0.5s;

}

/* Responsive Website Design page */

@media (max-width:799px) {
    #navber {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right: -300px;
        height: 100vh;
        width: 300px;
        background-color: #E3E6F3;
        box-shadow: 0 40px 60px rgba(0, 0, 0, 0.01);
        padding: 80px 0 0 10px;
        transition: 0.3s;
    }

    #navber.active {
        right: 0px;
    }

    #navber li {
        margin-bottom: 25px;
        text-align: center;
        margin-left: 7rem;
    }

    #mobile {
        display: flex;
        align-items: center;
    }

    #mobile i {
        color: #1a1a1a;
        font-size: 24px;
        padding-left: 20px;
    }

    #close {
        display: initial;
        position: absolute;
        top: 30px;
        left: 30px;
        color: #222;
        font-size: 25px;
    }

    #heros {
        height: 70vh;
        padding: 0 80px;
        background-position: top 30% right 30%;
    }

    .banner .ban {
        padding-top: 200px;
        padding-bottom: 200px;

    }

    .banner2 {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: end;
        padding: 50px 40px;

    }

    .banner2 .ban2 {
        font-size: 5px;
        width: 100%;
        height: 100%;
        background-size: cover;

    }

    .banner2 .ban3 {
        font-size: 5px;
        width: 100%;
        height: 100%;
        background-size: cover;

    }

    #Newsletters .form {
        width: 100%;
    }

    .box {
        padding: 50px 40px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }

    .heros2 .par .c1 {
        width: 100%;
    }

    .feacher .pro-con .pro {
        width: 100%;
        background-color: orange;
    }

    .feacher2 .pro-con .pro {
        width: 100%;
        background-color: #d20376;
    }

    #blog {
        padding: 100px 20px 0 20px;
    }

    #blog .blog-box {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    #blog .blog-img {
        width: 100%;
        margin-right: 0px;
        margin-bottom: 30px;
    }

    #blog .blog-details {
        width: 100%;
    }

    /* About Page */
    #about-head {
        flex-direction: column;
    }

    #about-head img {
        width: 100%;
    }

    /* Products pages */
    .prodbanner #protban h1 {
        margin-top: 1rem;
        margin-right: 5rem;
    }

    /* Contact Page */

    .contact {
        flex-direction: column;
    }

    .contact .map iframe {
        width: 100%;
    }

    .contact .col1 {
        width: 100%;
    }

    .contact .map {
        width: 100%;
        height: 400px;
    }

    .form-details {
        margin: 10px;
        padding: 30px 10px;
        flex-wrap: wrap;
    }

    .form-details .form {
        width: 100%;
    }


}